@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --cor0: hsl(148, 38%, 91%); /* Green 200 (lighter) */
    --cor1: hsl(169, 82%, 27%); /* Green 600 (medium) */
    --cor2: hsl(0, 66%, 56%);    /* Red */
    --cor3: hsl(0, 0%, 100%);    /* White */
    --cor4: hsl(186, 15%, 59%);  /* Grey 500 (medium) */
    --cor5: hsl(187, 24%, 22%);  /* Grey 900 (darker) */
}

body{
    font-family: "Karla", sans-serif;
    background-color: var(--cor0);
    color: var(--cor5);
}
main{
    background-color: var(--cor3);
}
h1{
    color: var(--cor5);
}
button{
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--cor1);    
    color: var(--cor3);
}
button:hover{
    background-color: var(--cor5);
}
label{
    font-size: 16px;
}
input, textarea{
    cursor: pointer;
}
input:hover, textarea:hover{
    border: 1px solid var(--cor1);
}
.border-green{
    border: 1px solid var(--cor5);
}

.radioGrupo{

    cursor: pointer;

}
.radioGrupo.active {
    background-color: var(--cor0);
  }
@media screen and (min-width: 750px) {

    body{
        height: 100vh;
    }
    main{
        width: 750px;
    }

}